@font-face {
  font-family: "Quantico", sans-serif;
  src: url(../assets/fonts/Quantico/Quantico-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}

#page-content {
  position: relative;
  top: 100px;
  left: 100px;
}

.calc-main-container {
  width: 941px;
  height: 1314px;
  border-radius: 40px;
  border: solid 36px #d748a0;
  background-color: #d748a0;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
}

.bg-img {
  background-image: url(../images/hallo-kitty.png);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 36px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* result display input */

.result-field {
  background-color: #ffecfc;
  height: 200px;
  width: 700px;
  border: solid 5px #000000;
  border-radius: 30px;
  margin-bottom: 60px;
  padding: 20px 50px;
  font-size: 50px;
  font-family: "Quantico";
  font-weight: 400;
  color: #000000;
  text-align: end;
  box-sizing: border-box;
}

/* GRID */

.numbers-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 144px);
  grid-template-rows: repeat(5, 144px);
  gap: 25px;
  justify-content: center;
  margin-top: 25px;
}

#ac {
  grid-area: 1 / 1 / 2 / 2;
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
}
.delete {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 30px;
}
.dash {
  grid-area: 1 / 3 / 2 / 4;
}
.star {
  grid-area: 1 / 4 / 2 / 5;
}
.seven {
  grid-area: 2 / 1 / 3 / 2;
}
.eight {
  grid-area: 2 / 2 / 3 / 3;
}
.nine {
  grid-area: 2 / 3 / 3 / 4;
}
.minus {
  grid-area: 2 / 4 / 3 / 5;
}
.four {
  grid-area: 3 / 1 / 4 / 2;
}
.five {
  grid-area: 3 / 2 / 4 / 3;
}
.six {
  grid-area: 3 / 3 / 4 / 4;
}
.plus {
  grid-area: 3 / 4 / 4 / 5;
  height: 228px;
}
.one {
  grid-area: 4 / 1 / 5 / 2;
}
.two {
  grid-area: 4 / 2 / 5 / 3;
}
.three {
  grid-area: 4 / 3 / 5 / 4;
}
.zero {
  grid-area: 5 / 1 / 6 / 3;
}
.dot {
  grid-area: 5 / 3 / 6 / 4;
}
.equal {
  grid-area: 4 / 4 / 6 / 5;
  height: 228px;
  margin-top: 85px;
  background-color: #ff1fa9;
}

/* BTNS STYLE  */

.numbers-grid-container button {
  font-size: 48px;
  text-align: center;
  border: #000000 solid 5px;
  border-radius: 20px;
  cursor: pointer;
  color: #000000;
  font-family: "Quantico";
  font-weight: 400;
}

.delete-img {
  width: 50px;
}

.light-pink-bg {
  background-color: #ffecfc;
}

.dark-pink-bg {
  background-color: #f566be;
}

.light-pink-bg:hover {
  border: #ffecfc solid 5px;
  box-shadow: 0 0 50px #ffecfc;
}

.dark-pink-bg:hover {
  border: #f566be solid 5px;
  box-shadow: 0 0 50px #f566be;
}

.equal:hover {
  border: #ff1fa9 solid 5px;
  box-shadow: 0 0 50px #ff1fa9;
}
